#!/bin/bash
#PBS -N SRA.hisat
#PBS -l select=1:ncpus=4:mem=8gb,walltime=24:00:00
#PBS -j oe

cd ${PBS_O_WORKDIR}

BASEDIR=$(cat basedir.txt)
$BASEDIR/Software/hisat2-2.0.5/hisat2 -p 4 -x $BASEDIR/Reference/REF \
-q -1 $BASEDIR/FastQ-Trimmed/SRA_1.forward_paired_trim.fastq -2 \
$BASEDIR/FastQ-Trimmed/SRA_2.reverse_paired_trim.fastq -S \
./SRA.hits.sam --downstream-transcriptome-assembly -t

$BASEDIR/Software/samtools-1.3.1/samtools view -bS SRA.hits.sam > \
SRA-accepted_hits.view

$BASEDIR/Software/samtools-1.3.1/samtools sort -o \
SRA-accepted_hits.view.sorted SRA-accepted_hits.view

